<html>
    <head>
        <title>{{ title }} - Visual Validation Service</title>
    </head>
    <body>
        <h1>Visual validation service</h1>
        <p><b>Why? </b>It is hard to catch visual errors just by looking at two sites, or browsers at the same time.</p>
        <h2>Api Usage:<h2>
        <p style="font-size:small;">
            curl --request POST \<br>
            &emsp;--url /api/crosssite \<br>
            &emsp;--header 'content-type: application/json' \<br>
            &emsp;--data '{<br>
                &emsp;&emsp;"browser":"chrome",<br>
                &emsp;&emsp;"urls":{<br>
                    &emsp;&emsp;&emsp;"base":"https://www.google.com",<br>
                    &emsp;&emsp;&emsp;"targets":[<br>
                    &emsp;&emsp;&emsp;&emsp;"https://www.google.com","https://www.google.com?q=hola"]<br>
                            &emsp;&emsp;}<br>
            }'<br>
        </p>
        <hr>
        <p style="font-size:small;">   
            <i>Note: Not working at the moment</i><br>  
            curl --request POST \<br>
            &emsp;--url /api/crossbrowser \<br>
            &emsp;--header 'content-type: application/json' \<br>
            &emsp;--data '{<br>
                &emsp;&emsp;"url":"https://www.google.com",<br>
                &emsp;&emsp;"browsers":{<br>
                    &emsp;&emsp;&emsp;"base":"chrome",<br>
                    &emsp;&emsp;&emsp;"targets":["firefox", "chrome"]<br>
                    &emsp;}<br>
            }'<br>
        </p>
        
    </body>
</html>